
.box{
  box-shadow: rgba(206, 206, 206, 0.15) 3.4px 4.4px 5.9px;
}

.card-img-top{

}
.card-body{
  border-top: 5px solid #2cd4bf;
  border-bottom: 8px solid #2cd4bf;
  padding: 25px 20px !important;
}

.grid{
  animation: fadeIn 3s backwards;
  animation-delay: 1s;
}

.project-text{
  animation: fadeIn 3s 1.7s backwards; 
  animation-delay: 1s;
}

.card-title{
  font-size: 24px !important;
  color: #dbb957 !important;
  font-family: monospace;
  padding-top: 10px;
}
.card-text{
  font-size: 18px !important;
}
.cardBtn{
    color: #dbb957 !important;
    background-color: #050711 !important;
    font-size: 20px !important;
    font-weight: 500px;
    letter-spacing: 4px;
    font-family: monospace;
    text-decoration: none;
    padding: 10px 18px !important;
    border: 1px solid #dbb957 !important;
    float: left;
    margin-top: 30px;
    animation: fadeIn 1s 1.3s backwards !important;
    white-space: nowrap;
    padding-bottom: 10px;

    &:hover{
      background-color: #dbb957 !important;
      color: #0a0f1a !important;
      text-decoration: none;
  }
}


.box {
  margin: 20px;
  background-color: #050711 !important;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 70px !important;
  margin-top: 20px !important;
}

.grid > div {
  flex-basis: 390px;
}



/* For Tablet View */
@media screen and (min-device-width: 820px) and (max-device-width: 1180px){

}


@media screen and (min-device-width: 768px) and (max-device-width: 1024px){


  }
   
  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px)
  and (orientation: portrait) {
  .grid{
    margin-left: 40px !important;
  }
    
  }
   
  /* For Mobile Landscape View */
  @media screen and (max-device-width: 640px)
  and (orientation: landscape) {

    
  }